{% load static %}
<!DOCTYPE html>
<html>
<head>
  <!-- <title>{% block title %}{% endblock %}</title> -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Альта-СВХ. Витрина</title>

  <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}" >
  <link rel="stylesheet" href="{% static 'node_modules/bootstrap-icons/font/bootstrap-icons.css' %}">
  <link rel="stylesheet" href="{% static 'node_modules/bootstrap-table/dist/bootstrap-table.min.css' %}">
  <link rel="stylesheet" href="{% static 'node_modules/jquery-resizable-columns/dist/jquery.resizableColumns.css' %}">
  <link rel="stylesheet" href="{% static 'node_modules/dragtable/dragtable.css' %}">
  
  <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
  
  <!-- <link href="{% static 'css/svh_service.css' %}" rel="stylesheet"> -->
  <link href="{% static 'css/news.css' %}" rel="stylesheet">
</head>

<body>

  <div class="sidebar" style="width: 15%; display: block" id="mySidebar">
    <!-- <button class="sidebar_button_close" onclick="w3_close()">АЛЬТА-СОФТ &times;</button> -->
      <div class="sidebar_button_close">
        <button class="button_show_sidebar" onclick="w3_close()">&#9776;</button>
      </div>
      <a href="{% url 'svh_service:consignment_list' %}" class="a_button">ПАРТИИ ТОВАРОВ</a>
      <a href="{% url 'svh_service:contact_list' %}" class="a_button">ОРГАНИЗАЦИИ</a>
      <a href="{% url 'svh_service:carpass_list' %}" class="a_button">ПРОПУСКА</a>
  </div>

  <div id="main" style="margin-left: 15%;">
    <div id="header">
      <button id="openNav" class="button_show_sidebar" style="display: none" onclick="w3_open()">&#9776;</button>
      <h3 id="header_title">Альта-СВХ. Витрина</h3>
    </div>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
  </div>



<script>
    if (sessionStorage.getItem('main_marginLeft')) {
      document.getElementById("main").style.marginLeft = sessionStorage.getItem('main_marginLeft');
      document.getElementById("mySidebar").style.width = sessionStorage.getItem('mySidebar_width');
      document.getElementById("mySidebar").style.display = sessionStorage.getItem('mySidebar_display');
      document.getElementById("openNav").style.display = sessionStorage.getItem('openNav_display');
    }

    function w3_open() {
      document.getElementById("main").style.marginLeft = "15%";
      document.getElementById("mySidebar").style.width = "15%";
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("openNav").style.display = 'none';
      sessionStorage.setItem('main_marginLeft', '15%')
      sessionStorage.setItem('mySidebar_width', '15%')
      sessionStorage.setItem('mySidebar_display', 'block')
      sessionStorage.setItem('openNav_display', 'none')
    }
    function w3_close() {
      document.getElementById("main").style.marginLeft = "0%";
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("openNav").style.display = "inline-block";
      sessionStorage.setItem('main_marginLeft', '0%')
      sessionStorage.setItem('mySidebar_display', 'none')
      sessionStorage.setItem('openNav_display', 'inline-block')
    }
</script>

<script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'node_modules/bootstrap-table/dist/bootstrap-table.min.js' %}"></script>
<script src="{% static 'node_modules/bootstrap-table/dist/extensions/resizable/bootstrap-table-resizable.js' %}"></script>
<script src="{% static 'node_modules/jquery-resizable-columns/dist/jquery.resizableColumns.js' %}"></script>
<script src="{% static 'node_modules/jquery-ui.js' %}"></script>
<script src="{% static 'node_modules/dragtable/jquery.dragtable.js' %}"></script>
<script src="{% static 'node_modules/bootstrap-table/dist/extensions/reorder-columns/bootstrap-table-reorder-columns.js' %}"></script>
<script src="{% static 'node_modules/tableExport.jquery.plugin/libs/FileSaver/FileSaver.min.js' %}"></script>
<script src="{% static 'node_modules/tableExport.jquery.plugin/tableExport.min.js' %}"></script>
<script src="{% static 'node_modules/tableExport.jquery.plugin/libs/jsPDF/jspdf.umd.min.js' %}"></script>
<script src="{% static 'node_modules/tableExport.jquery.plugin/libs/js-xlsx/xlsx.core.min.js' %}"></script>
<script src="{% static 'node_modules/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js' %}"></script>
<script src="{% static 'node_modules/bootstrap-table/dist/extensions/toolbar/bootstrap-table-toolbar.min.js' %}"></script>

</body>


</html>
