{% extends "shv_service/base.html" %}

{% block content %}
  <h5 class="block_name">Партии товаров</h5>

  {% if request.user.profile.type == 'O' %}
  <div class='buttons_area'>
    <a href="{% url 'svh_service:consignment_add' %}"><input type="button" value="ADD"></a>
  </div>
  {% endif %}

  <form class='filters_form' action="" method="post">
    <div class="filters_form_btns">
      <input type="submit" value="APPLY">
      <a href="{% url 'svh_service:erase_filters' 'consignments' %}"><input type="button" value="CLEAR"></a>
    </div>
    <div class="filters_form_inputs">
      {{ form_filters.as_table }}
      {% csrf_token %}
    </div>
  </form>

  <table
      id="table"
      data-toggle="table"
      data-show-export="true"
      data-pagination="true"
      data-show-columns="true"
      data-search="true"
      data-advanced-search="true"
      data-id-table="advancedTable"
      data-reorderable-columns="true"
      data-resizable="true"
      data-search-align="left"
      data-buttons-align="left"
  >  
    <thead>
    <tr>
      <th data-sortable="true" data-field="key_id">ID партии</th>
      <th data-sortable="true" data-field="contact_name">Клиент</th>
      <th data-sortable="true" data-field="broker_name">Брокер</th>

      <th data-sortable="true" data-field="nttn">№ транспортного документа</th>
      <th data-sortable="true" data-field="goods">№ документа доставки</th>

      <th data-sortable="true" data-field="dater">Дата регистрации</th>
      <th data-sortable="true" data-field="dateo">Дата выдачи</th>
      <th data-sortable="true" data-field="car">ТС</th>
      <th data-sortable="true" data-field="docs">Документы</th>
    </tr>
    </thead>
    <tbody>
      {% for consignment in consignments %}
      <tr>
        <td><a href="{% url 'svh_service:consignment_update' consignment.id %}">{{ consignment.key_id }}</a></td>
        <td>{{ consignment.contact_name }}</td>
        <td>{{ consignment.broker_name }}</td>

        <td>{{ consignment.nttn }}</td>
        <td>{{ consignment.dkd }}</td>

        <td>{{ consignment.dater }}</td>
        <td>{{ consignment.dateo }}</td>
        <td>{{ consignment.car }}</td>
        <td>
          {% for document in documents %}
            {% if document.guid_partia == consignment.key_id and document.docbody %}  
              <div class='doc_download'><a href="{% url 'svh_service:document_download' document.id %}">{{ document.docnum }}</a></div>
            {% endif %}
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
{% endblock %}