/* #header - #header_client */
/* .button_show_sidebar - .button_show_sidebar_client */
/* .button_show_sidebar:hover - .button_show_sidebar_client:hover */
/* .sidebar_button_close - .sidebar_button_close_client */
/* #header_logout - #header_logout_client */
/* #header_logout a - #header_logout_client a */
/* #header_logout a:hover - #header_logout_client a:hover */
/* #header_user - #header_user_client */


body {
    font-family: Arial, Helvetica, sans-serif;
}

/* auth-form */
.login_page {
    background-color: WhiteSmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.login-form {
    border: 1px solid gainsboro;
    border-radius: 3px;
    background-color: White;
    margin: auto;
    margin-top: 50px;
    width: 400px;
}

.login_header{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: RoyalBlue;
    font-weight: normal;
    font-size: 20px;
    color: GhostWhite;
    padding: 15px 0 15px;
    text-align: center;
}

.login-form form {
    overflow: auto;
}

.login-form form p {
    width: 100%;
    overflow: auto;
}

.login-form label {
    float: left;
    clear: both;
    color: DarkSlateGray;
    margin-bottom: 4px;
    margin-left: 6%;
    font-size: 14px;

}
.login-form input, .login-form textarea {
    clear: both;
    float: left;
    margin: 0 2px 10px 2px;
    margin-left: 6%;
    border: 1px solid gainsboro;
    border-radius: 3px;
    padding: 6px 10px;
    font-size: 14px;
    width: 330px;
}

.login-form input[type=submit], .login-form a.button {
    border: None;
    border-radius: 3px;
    margin-left: 37%;
    width: 100px;
    background:Teal;
    color: WhiteSmoke;
    font-weight: bold;
    font-size: 13px;
    padding: 6px 10px;
    cursor: pointer;
}

.login-form input[type=submit]:hover, .login-form a.button:hover {
    background:lightseagreen;
}

.logout_text {
    text-align: center;
    color: DarkSlateGray;
    font-size: 14px;
}

.errorlist {
    border: 1px solid White;
    color: Brown;
    font-size: 14px;
}

/* base */
#header {
    background: RoyalBlue;
    padding: 10px 0px 11px 20px;
}

#header_client {
    background: SeaGreen;
    padding: 10px 0px 11px 20px;
}

#header_title {
    margin-left: 15px;
    font-weight:normal;
    color: GhostWhite;
    display: inline-block;
    margin-right: 100px;
}

#header_logout{
    border: None;;
    margin: 7px 20px 0 0;
    float: right;
}

#header_logout_client{
    border: None;;
    margin: 7px 20px 0 0;
    float: right;
}

#header_logout a{
    margin-left: 20px;
    background-color: RoyalBlue;
    border: 1px solid white;
    border-radius: 20px;
    padding: 6px 5px 9px 5px;
}

#header_logout a:hover{
    background-color: DodgerBlue;
}

#header_logout_client a{
    margin-left: 20px;
    background-color: SeaGreen;
    border: 1px solid white;
    border-radius: 20px;
    padding: 6px 5px 9px 5px;
}

#header_logout_client a:hover{
    background-color: MediumSeaGreen;
}

#header_user{
    border: 1px dashed White;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    background-color: RoyalBlue;
    color: GhostWhite;
    text-transform: uppercase;
}

#header_user_client{
    border: 1px dashed White;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    background-color: SeaGreen;
    color: GhostWhite;
    text-transform: uppercase;
}

.button_show_sidebar {
    background-color: RoyalBlue;
    border: 1px solid white;
    border-radius: 20px;
    color: White;
    width: 40px;
    height: 40px;
}

.button_show_sidebar:hover {
    background-color: DodgerBlue;
}

.button_show_sidebar_client {
    background-color: SeaGreen;
    border: 1px solid white;
    border-radius: 20px;
    color: White;
    width: 40px;
    height: 40px;
}

.button_show_sidebar_client:hover {
    background-color: MediumSeaGreen;
}

.sidebar {
    float: left;
    display: flex;
}

.sidebar_button_close {
    background-color: RoyalBlue;
    color: White;
    font-weight: bold;
    border: none;
    height: 62px;
    margin-bottom: 2px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 5% 0 0 40%;
}

.sidebar_button_close_client {
    background-color: SeaGreen;
    color: White;
    font-weight: bold;
    border: none;
    height: 62px;
    margin-bottom: 2px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 5% 0 0 40%;
}

.a_button {
    display: block;
    height: 50px;
    background-color: SteelBlue;
    color: White;
    text-align: center;
    line-height: 3;
    text-decoration: none;
    margin: 0px 2px 2px 2px;
}

.a_button:hover {
    background-color: LightSteelBlue;
}

#content { 
    border-top: 1px solid gainsboro;
    border-left: 1px solid gainsboro;
    padding: 0 20px 20px 20px;
}



.block_name{
    margin: 10px 0px 0px 0px;
    color: SlateGray;
}

.detail_form label { 
    font-size: 13px;
    font-weight: bold;
    color: SlateGray;
    margin-bottom: 4px; 
    width: 260px;
}

.detail_form input { 
    font-size: 13px;
    font-weight: bold;
    color: DarkSlateGray;
    width: 320px;
    margin: 0 0 0px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 6px 10px;
}

.form_fields_area { #id_contact_name:hover, #id_broker_name:hover {
    border: 2px dashed SteelBlue;
    cursor: pointer;
    } }

.form_fields_area { #id_contact, #id_contact_broker {
    background-color: WhiteSmoke;
    color: gray;
    } }


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content */
.modal-content {
    border-radius: 5px;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 95%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



.buttons_area {
    margin: 15px 0px 0px 0px;
    padding: 0px;
}

.form_fields_area {
    margin-top: 15px;
}

.buttons_area input[type=submit], .buttons_area input[type=button] {
    border-radius: 5px;
    width: 100px;
    background:Teal;
    color: WhiteSmoke;
    margin-right: 5px;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    padding:6px 10px;
    border: None;
}

.buttons_area input[type=submit]:hover, .buttons_area input[type=button]:hover{
    background: LightSeaGreen;
}

.block_name_detail_page {
    margin: 10px 20px 0px 0px;
    color: SlateGray;
    display: inline-block;
}

.div_posted_status{
    width: fit-content;
    margin: 10px 0px 0px 0px;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    color: GhostWhite;
    background-color: MediumSeaGreen;
    display: inline-block;
}

.div_not_posted_status{
    width: fit-content;
    margin: 10px 0px 0px 0px;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    color: GhostWhite;
    background-color: RosyBrown;
    display: inline-block;
}

.doc_download {
    padding: 0 5px 0 5px;
    border-radius: 5px;
    background-color: Teal;
    display: inline-block;
}

.doc_download a {
    text-decoration: none;
    color: white;
}

.filters_form {
    /* background-color: orange; */
    margin-top: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 14px;
    max-width: 1300px;
}

.filters_form_btns {
    background-color: SlateGray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px 0 5px 5px;
    margin-bottom: 5px;
}

.filters_form_btns input[type=submit], .filters_form_btns input[type=button]  {
    border: 1px solid White;
    border-radius: 5px;
    width: 100px;
    background:SlateGray;
    color: WhiteSmoke;
    margin-right: 5px;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    padding: 1px;
}

.filters_form_btns input[type=submit]:hover, .filters_form_btns input[type=button]:hover{
    background: LightSlateGray;
    color: White;
}

.filters_form label { 
    font-size: 13px;
    font-weight: bold;
    color: SlateGray;
    margin-left: 10px;
    margin-bottom: 5px;
    width: 200px;
}

.filters_form input, .filters_form select { 
    font-size: 13px;
    width: 190px;
    color: DarkSlateGray;
    border:1px solid gainsboro;
    border-radius: 5px;
}
