body { 
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif; 
}

a { 
    color:#00abff;
    text-decoration:none; 
}

/* h1 { 
    font-weight:normal;
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
} */

/* h2 {
    font-weight:normal;
    margin:30px 0 0;
} */

#header {
    background: RoyalBlue;
    padding-left: 20px;
    /* height: 100px; */
}

#header_title {
    font-weight:normal;
    color: White;
    display: inline-block;
}

#content { 
    /* float:right; */
    /* width:60%; */
    padding: 0 20px 20px 20px;
}

.block_name {
    font-weight:normal;
    border-bottom:1px solid #bbb;
    /* background: orange; */
}

/* #sidebar { 
    float:left;
    width:30%;
    padding:10px;
    background: orange;
    height:100%;
} */

table, th, td {
    border: 1px solid Gainsboro;
    border-collapse: collapse;

}

th {
    background-color: Grey;
    color: White;
}

td {
    text-align: center;
}

.table_1 {
    width: 100%;
}

/* .form_inline label, input {
    color: red;
} */

/* .form_inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  
  .form_inline label {
    margin: 5px 10px 5px 0;
  }
  
  .form_inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
  } */

  form label {
    font-size: 12px;
  }

  form input {
    font-size: 14px;
    width: 300px;
  }

  form input[type=submit] {
    width: 320px;
  }


p.date { 
    color:#ccc;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic; 
}

/* pagination */
.pagination { 
    margin:40px 0; 
    font-weight:bold;
}

/* forms */
label { 
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px; 
}
input, textarea { 
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#ededed;
    border:0;
    padding:6px 10px;
    font-size:12px;
}
input[type=submit] {
    font-weight:bold;
    background:#00abff;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase; 
}
.errorlist { 
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px; 
}

/* comments */
.comment {
    padding:10px;
}
.comment:nth-child(even) {
    background:#efefef;
}
.comment .info {
    font-weight:bold;
    font-size:12px;
    color:#666;
}