{% extends "shv_service/base.html" %}

{% block content %}

<h5 class="block_name">Организация</h5>

<form class='detail_form' action="" method="post">

  <div class="buttons_area">
    {% if not contact.posted %}
      <input type="submit" value="SAVE">
      <a href="{% url 'svh_service:contact_post' contact.id %}"><input type="button" value="POST"></a>
      <a href="{% url 'svh_service:contact_delete' contact.id %}"><input type="button" value="DELETE"></a>
    {% else %}
      <a href="{% url 'svh_service:contact_rollback' contact.id %}"><input type="button" value="ROLLBACK"></a>
    {% endif %}
    <a href="{% url 'svh_service:contact_close' contact.id %}"><input type="button" value="CLOSE"></a>
  </div>

  <div class="form_fields_area">
    <div {% if contact.posted %}class="div_posted_status"{% else %}class="div_not_posted_status"{% endif %} >
      Статус проводки: {% if not contact.posted %}НЕ {% endif %}ПРОВЕДЕН
    </div>

    {{ form.as_p }}
    {% csrf_token %}
  </div>
  
</form>

{% endblock %}
